body{
    background-color: aliceblue;
    padding: 30px;
}
h1{
    width: 50%;
    margin: auto;
    font-family: 'Verdana', sans-serif;
    color: midnightblue;
}
header > h3{
    width: 50%;
    margin: auto;
    font-family: 'Verdana', sans-serif;
    color: midnightblue;
}
main > h3{
    border-top: dotted darkolivegreen 3px;
}
header > img{
    display: block;
    margin: auto;
}

nav {

    color: blue;
    background: lightsteelblue;
    border: 20px lightsteelblue;
    gap: 20px;
    border-radius: 15px;
}
nav > ol{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
iframe{
    display: inline;
}
article {
    width: 200px;
    border: 10px solid darkseagreen;
    background: lightsteelblue;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    flex: 1 1 200px;
    min-width: 180px;
}
article:hover{
    transform:translate(0,-5px) scale(1.02,1.02);
    transition: transform .5s;

}
footer{
    background:lightsteelblue;
    border-radius: 15px;
}
p{
    margin:10px;
}
button{
    background: lightsteelblue;
    border-radius: 5px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 200px;
    min-width: 180px;
}
.circleImage{
    border-radius: 100px;
}
button:hover{background: lightblue}
li:hover{color:midnightblue}
a:hover { color: purple; }
a:active { color: darkorange; }
a:focus { outline: 2px solid midnightblue;}

