:root{
    font-size: 4vh;


}
body {
    background: black;
    color: white;
}
.numbers:active{
    background: #1f2325;
}
.functions:active{
    background: dimgrey;
}
.operators:active{
    background: darkorange;
}

.memory:active{
    background: #005ce6;
}

input{
    border:none;
    font-size: 200%;
    color: whitesmoke;
}

.memory{

    background: #3385ff;
    border-radius: 45%;
}
.operators{

    background: orange;
    border-radius: 45%;
}
.numbers{

    background: #2f3437;
    border-radius: 45%;
}

.functions{
    background: grey;
    border-radius: 45%;
}
.output{
    background: black;
    grid-column: span 4;
    text-align: right;
    font-size: 9vh;
    margin-right: 5vw;
}
a{
    color: orange;
    text-decoration: none;
}
li:hover{
    transform:scale(110%);
}
.styleSwapper{
    background: black;
    color:orange;
    font-size: 28px;
    margin-top:15px;
}
.utility-bar > ul{
    margin-top:0;
    position: sticky;
    top:0;
    display: flex;
    gap: 20px;
    font-size: 40px;
    flex-direction: row;
    list-style: none;
    border: none;
    background: black;
    justify-content: space-between;
}

.container{
    height:75vh;
    width: 90vw;
    margin-left: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1vw;
    text-align: center;
    grid-template-areas: "output output output output"
                        "memory memory memory memory"
                        "function function function operator"
                        "numbers numbers numbers operator"
                        "numbers numbers numbers operator"
                        "numbers numbers numbers operator"
                        "numbers numbers numbers operator";
}
